body {
  font-family: "Mulish";
  margin: 0px;
  background-color: #fffbfa;
}

* {
    box-sizing: border-box;
}
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1300px;
  }

 .header-div {
    padding-left: 140px;
    padding-right: 160px;
}

#header {
    display:flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  
  /* Navbar container */
.navbar {
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
  /* Dropdown button */
  .dropdown .deklai {
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
    padding: 5px 7px 5px 13px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropdown .deklai {
    flex-shrink: 0;
    border-radius: 24px;
border: 1px solid #D9D9D9;
  }

  .search-image {
    padding: 6px 25px 4px 22px;
  }

  .cart {
    padding: 6px 0px 4px 0px;
  }

  .hero-banner {
width: 100%;
position: relative;  
}

.hero-banner img {
width: 100%;
}

.pirkti {
    position: absolute;
    left:31%;
    bottom: 9%;
    transform: translate(-50%, -50%);
    padding: 15px 18px 15px 18px;
    background-color: black;
    color: white;
    font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 128.571% */
letter-spacing: 0.3px;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}
.isorinis-icon {
  /* padding: 0px 165px; */
  width: 1071px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 111px;
}

.kokybe, .pristatymas, .akcija, .garantijos {
  text-align: center;
}

h6 {
  text-align: center;
  font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: 0.1px;
}

h3 {
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 125% */
letter-spacing: 0.1px;
}
.product-block {
  display: flex;
  justify-content: space-between;
  width: 1071px;
  margin-top: 37px;
  margin: 0 auto;
  gap: 10px;
}
.product-block img {
  width: 100%;
}
.product-block h6 {
text-align: left;
margin: 0 auto;
}

.preke {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}
